HOME

In [411]:
print("Hello, World!")

Hello, World!

Syntax

In [413]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [414]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

Comments

In [416]:
#This is a comment
print("Hello, World!")

Hello, World!

In [417]:
print("Hello, World!") #This is a comment

Hello, World!

In [418]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

Variables

In [420]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [421]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [422]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [423]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [424]:
x = "John"
# is the same as
x = 'John'

In [425]:
a = 4
A = "Sally"
#A will not overwrite a

Variable Names

In [427]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

Assign Multiple Values

In [429]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [430]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [431]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

Output Variables

In [433]:
x = "Python is awesome"
print(x)

Python is awesome

In [434]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [435]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [436]:
x = 5
y = 10
print(x + y)

15

In [437]:
x = 5
y = "John"
print(x, y)

5 John

Global Variables

In [439]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [440]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [441]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [442]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Data Types

In [444]:
x = 5
print(type(x))

<class 'int'>

In [445]:
#Text Type:	str
#Numeric Types:	int, float, complex
#Sequence Types:	list, tuple, range
#Mapping Type:	dict
#Set Types:	set, frozenset
#Boolean Type:	bool
#Binary Types:	bytes, bytearray, memoryview
#None Type:	NoneType

In [446]:
x = "Hello World"

print(x)

print(type(x))

Hello World
<class 'str'>

In [447]:
x = 20

print(x)

print(type(x))

20
<class 'int'>

In [448]:
x = 20.5

print(x)

print(type(x))

20.5
<class 'float'>

In [449]:
x = 1j

print(x)

print(type(x))

1j
<class 'complex'>

In [450]:
x = ["apple", "banana", "cherry"]

print(x)

print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [451]:
x = ("apple", "banana", "cherry")

print(x)

print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [452]:
x = range(6)

print(x)

print(type(x))

range(0, 6)
<class 'range'>

In [453]:
x = {"name" : "John", "age" : 36}

print(x)

print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [454]:
x = {"apple", "banana", "cherry"}

print(x)

print(type(x))

{'cherry', 'apple', 'banana'}
<class 'set'>

In [455]:
x = frozenset({"apple", "banana", "cherry"})

print(x)

print(type(x))

frozenset({'cherry', 'apple', 'banana'})
<class 'frozenset'>

In [456]:
x = True

print(x)

print(type(x))

True
<class 'bool'>

In [457]:
x = b"Hello"

print(x)

print(type(x))

b'Hello'
<class 'bytes'>

In [458]:
x = bytearray(5)

print(x)

print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [459]:
x = memoryview(bytes(5))

print(x)

print(type(x))

<memory at 0x1054e9900>
<class 'memoryview'>

In [460]:
x = None

print(x)

print(type(x))

None
<class 'NoneType'>

Specific Data Type

In [462]:
x = str("Hello World")

print(x)

print(type(x))

Hello World
<class 'str'>

In [463]:
x = int(20)


print(x)

print(type(x))

20
<class 'int'>

In [464]:
x = float(20.5)

print(x)

print(type(x))

20.5
<class 'float'>

In [465]:
x = complex(1j)

print(x)

print(type(x))

1j
<class 'complex'>

In [466]:
x = list(("apple", "banana", "cherry"))

print(x)

print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [467]:
x = tuple(("apple", "banana", "cherry"))

print(x)

print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [468]:
x = range(6)

print(x)

print(type(x))

range(0, 6)
<class 'range'>

In [469]:
x = dict(name="John", age=36)

print(x)

print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [470]:
x = set(("apple", "banana", "cherry"))

print(x)

print(type(x))

{'cherry', 'apple', 'banana'}
<class 'set'>

In [471]:
x = frozenset(("apple", "banana", "cherry"))


print(x)

print(type(x))

frozenset({'cherry', 'apple', 'banana'})
<class 'frozenset'>

In [472]:
x = bool(5)


print(x)

print(type(x))

True
<class 'bool'>

In [473]:
x = bytes(5)


print(x)


print(type(x))

b'\x00\x00\x00\x00\x00'
<class 'bytes'>

In [474]:
x = bytearray(5)


print(x)

print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [475]:
x = memoryview(bytes(5))


print(x)


print(type(x))

<memory at 0x1054e9900>
<class 'memoryview'>

Numbers

In [477]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [478]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [479]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [480]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [481]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [482]:
x = 1    
y = 2.8  
z = 1j  

a = float(x)

b = int(y)

c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [483]:
import random

print(random.randrange(1, 10))

4

Casting

In [485]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [486]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [554]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

Strings

In [557]:
print("Hello")
print('Hello')

Hello
Hello

In [559]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [561]:
a = "Hello"
print(a)

Hello

In [563]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [565]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Slicing Strings

In [568]:
b = "Hello, World!"
print(b[2:5])

llo

In [570]:
b = "Hello, World!"
print(b[:5])

Hello

In [572]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [574]:
b = "Hello, World!"
print(b[-5:-2])

orl

Modify Strings

In [577]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [579]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [581]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [583]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [585]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

String Concatenation

In [588]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [592]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

Format - Strings

In [595]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [597]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [599]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [601]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

Escape Character

In [605]:
txt = "We are the so-called \"Vikings\" from the north."

In [607]:
txt = 'It\'s alright.'
print(txt)

It's alright.

In [609]:
txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [611]:
txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [613]:
txt = "Hello\rWorld!"
print(txt)

World!

In [615]:
txt = "Hello\tWorld!"
print(txt)

Hello	World!

In [617]:
txt = "Hello \bWorld!"
print(txt)

HelloWorld!

In [619]:
#A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

Hello

In [621]:
#A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello