Booleans

In [3]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [5]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [7]:
print(bool("Hello"))
print(bool(15))

True
True

In [9]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [11]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [13]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [15]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [17]:
def myFunction() :
  return True

print(myFunction())

True

In [19]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [21]:
x = 200
print(isinstance(x, int))

True

OPERATORS

In [24]:
print(10 + 5)

15

In [26]:
x = 5
y = 3

print(x + y)

8

In [28]:
x = 5
y = 3

print(x - y)

2

In [30]:
x = 5
y = 3

print(x * y)

15

In [32]:
x = 12
y = 3

print(x / y)

4.0

In [34]:
x = 5
y = 2

print(x % y)

1

In [36]:
x = 2
y = 5

print(x ** y) #same as 2*2*2*2*2

32

In [38]:
x = 15
y = 2

print(x // y)

#the floor division // rounds the result down to the nearest whole number

7

In [40]:
x = 5

print(x)

5

In [42]:
x = 5

x += 3

print(x)

8

In [44]:
x = 5

x -= 3

print(x)

2

In [46]:
x = 5

x *= 3

print(x)

15

In [48]:
x = 5

x /= 3

print(x)

1.6666666666666667

In [50]:
x = 5

x%=3

print(x)

2

In [52]:
x = 5

x//=3

print(x)

1

In [54]:
x = 5

x **= 3

print(x)

125

In [56]:
x = 5

x &= 3

print(x)

1

In [58]:
x = 5

x |= 3

print(x)

7

In [60]:
x = 5

x ^= 3

print(x)

6

In [62]:
x = 5

x >>= 3

print(x)

0

In [64]:
x = 5

x <<= 3

print(x)

40

In [66]:
print(x := 3)

3

In [68]:
x = 5
y = 3

print(x == y)

False

In [70]:
x = 5
y = 3

print(x != y)

True

In [72]:
x = 5
y = 3

print(x > y)

True

In [74]:
x = 5
y = 3

print(x < y)

False

In [76]:
x = 5
y = 3

print(x >= y)

True

In [78]:
x = 5
y = 3

print(x <= y)

False

In [80]:
x = 5

print(x > 3 and x < 10)

True

In [82]:
x = 5

print(x > 3 or x < 4)

True

In [84]:
x = 5

print(not(x > 3 and x < 10))

False

In [86]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)


print(x is y)


print(x == y)

True
False
True

In [88]:
x = ["apple", "banana"]

print("banana" in x)

True

In [90]:
x = ["apple", "banana"]

print("pineapple" not in x)

True

In [92]:
print(6 & 3)
"""
The & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
2 = 0000000000000010
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

2

'\nThe & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:\n\n6 = 0000000000000110\n3 = 0000000000000011\n--------------------\n2 = 0000000000000010\n====================\n\nDecimal numbers and their binary values:\n0 = 0000000000000000\n1 = 0000000000000001\n2 = 0000000000000010\n3 = 0000000000000011\n4 = 0000000000000100\n5 = 0000000000000101\n6 = 0000000000000110\n7 = 0000000000000111\n'

In [94]:
print(6 | 3)

7

In [96]:
print(6 ^ 3)

5

In [98]:
print(~3)

-4

In [100]:
print(3 << 2)

12

In [102]:
print(8 >> 2)

2

In [104]:
print((6 + 3) - (6 + 3))

0

In [106]:
print(100 + 5 * 3)

115

In [108]:
print((6 + 3) - (6 + 3))

0

In [110]:
print(100 - 3 ** 3)

73

In [112]:
print(100 + ~3)

96

In [114]:
print(100 + 5 * 3)

115

In [116]:
print(100 - 5 * 3)

85

In [118]:
print(8 >> 4 - 2)

2

In [120]:
print(6 & 2 + 1)

2

In [122]:
print(6 ^ 2 + 1)

5

In [124]:
print(6 | 2 + 1)

7

In [126]:
print(5 == 4 + 1)

True

In [128]:
print(not 5 == 5)

False

In [130]:
print(1 or 2 and 3)

1

In [132]:
print(4 or 5 + 10 or 8)

4

In [134]:
print(5 + 4 - 7 + 3)

5

LISTS

In [137]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [139]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [141]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [147]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [149]:
list1 = ["abc", 34, True, 40, "male"]

In [151]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [153]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

Access List Items

In [156]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [158]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [160]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [162]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [164]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [166]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [168]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

Change List Items

In [171]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [173]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [175]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [177]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [179]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

Add List Items

In [182]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [184]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [186]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

Remove List Items

In [189]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [191]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

In [193]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [195]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [197]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [199]:
thislist = ["apple", "banana", "cherry"]
del thislist

In [201]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

Loop Lists

In [205]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [207]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [209]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [211]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

List Comprehension

In [214]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [216]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [218]:
newlist = [x for x in fruits if x != "apple"]

In [220]:
newlist = [x for x in fruits]

In [222]:
newlist = [x for x in range(10)]

In [224]:
newlist = [x for x in range(10) if x < 5]

In [226]:
newlist = [x.upper() for x in fruits]

In [228]:
newlist = ['hello' for x in fruits]

In [230]:
newlist = [x if x != "banana" else "orange" for x in fruits]

Sort Lists

In [233]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [235]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [237]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [239]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [241]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [243]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [245]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [247]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

Copy Lists

In [250]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [252]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [254]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

Join Lists

In [257]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [259]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [261]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

List Methods

In [264]:
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")

In [266]:
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)

In [268]:
fruits = ['apple', 'banana', 'cherry', 'orange']

fruits.clear()

In [270]:
fruits = ['apple', 'banana', 'cherry', 'orange']

x = fruits.copy()

In [272]:
fruits = ['apple', 'banana', 'cherry']

x = fruits.count("cherry")

In [274]:
points = [1, 4, 2, 9, 7, 8, 9, 3, 1]

x = points.count(9)

In [276]:
fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)

In [278]:
fruits = ['apple', 'banana', 'cherry']

points = (1, 4, 5, 9)

fruits.extend(points)

In [280]:
fruits = ['apple', 'banana', 'cherry']

x = fruits.index("cherry")

In [282]:
fruits = [4, 55, 64, 32, 16, 32]

x = fruits.index(32)

In [284]:
fruits = ['apple', 'banana', 'cherry']

fruits.insert(1, "orange")

In [286]:
fruits = ['apple', 'banana', 'cherry']

fruits.pop(1)

'banana'

In [288]:
fruits = ['apple', 'banana', 'cherry']

fruits.remove("banana")

In [290]:
fruits = ['apple', 'banana', 'cherry']

fruits.reverse()

In [292]:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort()

In [294]:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort(reverse=True)

In [296]:
def myFunc(e):
  return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(key=myFunc)

In [298]:
def myFunc(e):
  return e['year']

cars = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]

cars.sort(key=myFunc)

Tuples

In [302]:
mytuple = ("apple", "banana", "cherry")

In [304]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [306]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [308]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [310]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [312]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [314]:
tuple1 = ("abc", 34, True, 40, "male")

In [316]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

In [318]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [320]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [322]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [324]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [326]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [328]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [330]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [332]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

In [334]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [336]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

In [342]:
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [344]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [346]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [348]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [350]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [352]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [354]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [356]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

In [358]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3

In [360]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [362]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'banana', 'cherry'}

In [364]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{'apple', True, 2, 'cherry', 'banana'}

In [366]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [368]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [370]:
set1 = {"abc", 34, True, 40, "male"}

In [372]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [374]:
thisset = set(("apple", "banana", "cherry")) 
print(thisset)

{'apple', 'banana', 'cherry'}

In [376]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [378]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

In [380]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'orange', 'banana', 'cherry'}

In [382]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'apple', 'pineapple', 'mango', 'cherry', 'papaya', 'banana'}

In [384]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'apple', 'banana', 'kiwi', 'cherry', 'orange'}

In [386]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [388]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [390]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'banana', 'cherry'}

In [394]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [396]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [398]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'b', 1, 2, 3, 'c', 'a'}

In [400]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{'b', 1, 2, 3, 'c', 'a'}

In [402]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{'apple', 1, 2, 3, 'c', 'Elena', 'John', 'a', 'bananas', 'b', 'cherry'}

In [404]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{'apple', 1, 2, 3, 'c', 'Elena', 'John', 'a', 'bananas', 'b', 'cherry'}

In [406]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'c', 'a', 'b'}

In [408]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'b', 1, 2, 3, 'c', 'a'}

In [410]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [412]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [414]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [416]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

In [418]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

In [420]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'microsoft', 'banana', 'cherry', 'google'}

In [422]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'microsoft', 'banana', 'cherry', 'google'}

In [424]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'microsoft', 'banana', 'cherry', 'google'}

Dictionaries

In [427]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [429]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [431]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [433]:
print(len(thisdict))

3

In [437]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

In [439]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

In [441]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [443]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

In [445]:
x = thisdict.get("model")

In [447]:
x = thisdict.keys()

In [449]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) 

car["color"] = "white"

print(x)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [453]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) 

car["year"] = 2020

print(x)

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [455]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) 

car["year"] = 2020

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [457]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [459]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

In [461]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

In [463]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [465]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

In [467]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [469]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [471]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [473]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [475]:
for x in thisdict:
  print(x)

In [477]:
for x in thisdict:
  print(thisdict[x])

In [479]:
for x in thisdict.values():
  print(x)

In [481]:
for x in thisdict.keys():
  print(x)

In [483]:
for x, y in thisdict.items():
  print(x, y)

In [485]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [487]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [489]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [491]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [493]:
print(myfamily["child2"]["name"])

Tobias

In [495]:
for x, obj in myfamily.items():
  print(x)

  for y in obj:
    print(y + ':', obj[y])

child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011

If ... Else

In [498]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [500]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [502]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [504]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [506]:
if a > b: print("a is greater than b")

a is greater than b

In [508]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [510]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [512]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [514]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [516]:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

In [518]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [520]:
a = 33
b = 200

if b > a:
  pass

While Loops

In [523]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [525]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [527]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [529]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

For Loops

In [532]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [534]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [536]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [538]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [540]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [542]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [544]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [546]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [548]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [550]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [552]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [554]:
for x in [0, 1, 2]:
  pass